*{
padding:0px;
margin:0px;
color:black;
}
body{
    background-color: white;
}
#navbar{
height:60px;
background-color:#74c69d;
padding-top: 25px;
font-size: medium;
}
a{
    text-decoration: none;
    margin-right:150px;
}
#search{
    margin-left:100px;
}
#searchbutton{
    background-color:#d9ed92;
}
#logo{
    font-size:large;
}
.wrapper{
display:flex;
flex-direction:column;
min-height: 100vh;

}
footer{
text-align:center;
background-color:#74c69d;
padding:10px;
position:relative;
bottom:0;
width:100%;
}