*{
margin:0;
padding:0;
font-family:Arial;
border: border-box;
}

.navbar {
height: 55px;
background-color: #FAF9F6;
border-bottom:1px outset #FFFFFF;
display:flex;
justify-content:space-evenly;
align-items:center;

}

.nav-logo{
height:32px;
width:120px;
text-align:center;
margin-left:30px;
}

.logo{
height:12px;
width:100%;
color:#292C7B;
}

.border{
border: 1px solid transparent;
justify-content:space-evenly;
}

.border:hover{
border: 1px solid #292C7B;
}

.search-bar{
/*display:flex;
justify-content:space-evenly; */
width:620px;
height:40px;
border-radius:4px;
/*background-color:pink;*/
}
.search-bar:hover{
border: 1px solid #292C7B;
}
.search-form{
display:flex;
justify-content:space-evenly;

}
/*
.search-select{
color:#292C7B;
text-align:center;
width:19rem;
height:2.5rem;
border-top-left-radius:8px;
border-bottom-left-radius:8px;
border:none;
}

.search-input{
width:100%;
font-size:1rem;
color:#292C7B;
border:none;
}

.search-icon{
width:45px;
display:flex;
justify-content: center;
align-items:center;
font-size:1.4rem;
background-color:#6495ED;
border-top-right-radius:8px;
border-bottom-right-radius:8px;
}
button{
background:transparent;
border:0;
outline:0;
}

button .fa-solid{
cursor:pointer;
width:20px;
font-size:18px;
}
*/
/** for login **/
.nav-signin{
text-align:center;
}
span {
font-size:0.7rem;
color:#292C7B;
}
.nav-second{
font-size:0.85rem;
font-weight:700;
color:#292C7B;
}

a{
text-decoration:none;
}
/* panel starts here */
.panel{
height:130px;
background-color:#FAF9F6;
border-bottom:1px outset #FFFFFF;
display:flex;
justify-content:space-evenly;
align-items:center;
}
.panel-box1{
text-align:center;
display:flex;
justify-content:center;
margin-right:110px;
}

.panel-box2{
text-align:center;
}

.panel-box3{
text-align:center;
margin-left:110px;
}

h3{
color:#292C7B;
}

.paraclass1{
margin-left:85px;
font-size:1.2rem;
margin-top:50px;
}
.para1{
margin-bottom:50px;
}
footer{
height:52.2px;
background-color: #FAF9F6;
border-top:1px outset #FFFFFF;
position:relative;
padding:10px 10px 0px 10px;
bottom: 0;
width:100%;
text-align:center;
}

