<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>ParikshaMukti.in</title>
    <link href="{{ url_for('static', filename='css/cs1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
</head>
<body>
<!-- this is for the navbar  -->
<header>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo">
                <p>ParikshaMukti.in</p>
            </div>
        </div>

        <div class="search-bar">
            <select class="search-select">
                <option>Select State</option>
            </select>
            <input class="search-input" placeholder="Search Universities" type="text">
            <div class="search-icon">
                <i class="fa-brands fa-searchengin"></i>
            </div>
        </div>
        <!-- this is for login register -->
        <div class="nav-signin">
            <a href="{{url_for('register')}}"><p><span>Hello, Sign in!</span></p>
                <p class="nav-second">Accounts &Lists</p></a>
        </div>

    </div>
    <!-- Panel Starts here -->
    <div class="panel">
        <div class="panel-box1">
            <a href="#"><p><span>Community</span></p>
                <p class="nav-second">Collaborate On Projects</p></a>
        </div>
        <div class="panel-box2">
            <a href="#"><p><span>Open Source</span></p>
                <P class="nav-second"> How Can You Contribute?</P></a>
        </div>
        <div class="panel-box3">
            <a href="#"><p><span>Notes</span></p>
                <P class="nav-second">Sell and Purchase</P></a>
        </div>

    </div>
</header>
<!-- This is the end of navbar -->

<!-- this is for alert -->

<!-- this is end of alert -->


{%block content %}
{# tempalate inserted here #}
{%endblock%}

</body>
</html>

