<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ParikshaMukti.in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cs1.css') }}">
  </head>
  <body>
  <!-- this is for the navbar  -->
 <div id="navbar" >
   <a id="logo" href="#">ParikshaMukti.in</a>
   <a class="navlink" href="#">Home</a>
   <a class="navlink" href="#">About Us</a>
   <a class="navlink" href="#">Contact Us</a>
   <input placeholder="Search University">
   <button>Search</button>
 </div>
      <!-- This is the end of navbar -->

  <!-- this is for alert -->
  
  <!-- this is end of alert -->

  <h1>Hello!</h1>

    {%block content %}
 {# tempalate inserted here #}
{%endblock%}







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

