<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ParikshaMukti.in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cs1.css') }}">
  </head>
  <body>
  <!-- this is for the navbar  -->
 <div id="navbar" >
   <a id="logo" href="#">ParikshaMukti.in</a>
   <a class="navlink" href="#">Home</a>
   <a class="navlink" href="#">About Us</a>
   <a class="navlink" href="#">Contact Us</a>
   <a class="navlink" href="{{url_for('register')}}">SignUp</a>
   <input id="search"placeholder="Search University">
   <button id="searchbutton">Search</button>
   
 </div>
      <!-- This is the end of navbar -->

  <!-- this is for alert -->
  
  <!-- this is end of alert -->



    {%block content %}
 {# tempalate inserted here #}
{%endblock%}
<div class="wrapper">
  <footer>This is the footer</footer>
</div>
  </body>
</html>

