{%extends "base.html" %}

{% block content %}


<!-- button for to exam paper website -->
<main>
    <div class="aboutus">
        <h4>About Us</h4>
    </div>
    <br>
    <br>
    <br>
    <div class="anchor">
        <anchor><big><pre>
            Welcome to ParikshaMukti, your ultimate destination for academic resources and
            collaboration. Our mission is to empower students by providing easy access to
            previous year's exam papers from a diverse range of universities, fostering a
            community of knowledge sharing and academic excellence.
        </pre></big></anchor>
    </div>
    <br>
    <br>
    <div class="vision">
        <h4>Our Vision</h4>
    </div>
    <br>
    <div class="anchor">
        <anchor><big><pre>
            We envision a collaborative academic environment where students from all backgrounds
            can access valuable resources, connect with peers, and excel in their studies. By
            making past exam papers readily available, we aim to reduce barriers to information
            and help students prepare more effectively for their exams.

        </pre></big></anchor>
    </div>
    <div class="aboutus">
        <h4>What we Offer</h4>
    </div>
    <br>
    <br>
    <div class="anchor">
        <anchor>
            <ul>
                <li>
                    <pre><b id="bold">Extensive Exam Paper Archive:</b> Our repository boasts a vast collection of previous
                    year's exam papers from numerous universities, covering a wide array of subjects
                    and disciplines. Whether you're looking to review for an upcoming test or seeking
                    to understand the format and types of questions asked, our archive is here to
                    assist you.</pre>
                </li><br>
                <li>
                    <pre><b id="bold">Student Collaboration Hub:</b> Beyond exam papers, our platform serves as a hub for students
                    to collaborate on academic projects. Connect with peers from different universities,
                    share ideas, and work together on projects that can enhance your learning experience
                    and broaden your academic network.</pre>
                </li><br>
                <li>
                    <pre><b id="bold">Marketplace for Notes:</b>We understand the value of well-organized notes. Our marketplace feature allows
                        students to buy and sell notes, providing an additional resource for study materials.
                        This peer-to-peer exchange ensures that quality notes can benefit more students.</pre>
                </li>
            </ul>
        </anchor>
    </div>
    <div class="aboutus">
        <h4>Open-Source Ethos</h4>
    </div>
    <br>
    <div>
        <div class="anchor"><anchor>
           <pre>                Our platform is built on the principles of open-source development. We believe in the power of
                community contributions to continuously improve and expand our repository. Students, educators,
                and developers are all welcome to contribute, ensuring that our resources remain up-to-date and
                beneficial to all users.
        </pre></anchor></div>
    </div>
    <div class="aboutus">
        <h4>Join Us</h4>
    </div>
    <br>
    <div class="anchor">
        <anchor><pre>            Join our growing community of learners, collaborators, and contributors. Together, we can create an academic
            environment where resources are accessible, knowledge is shared, and students thrive. Explore our repository,
            connect with peers, and contribute to a collective effort to enhance educational opportunities for everyone.</pre></anchor>
    </div>
</main>


<!-- button ends here -->

{% endblock %}