{%extends "base.html" %}

{% block content %}



<!-- button for to exam paper website -->
<div class="card-container">
    <div class="card">
        <img alt="Rtu Image" src="{{ url_for('static',filename='images/rtuimage.png') }}">
        <div class="card-content">
            <h4>Rajasthan Technical University</h4>
            <a class="btn" href="{{url_for('rtupaper')}}">Click Me</a>
        </div>
    </div>

    <div class="card">
        <img alt="Aktu Image" src="{{ url_for('static',filename='images/Aktuimage.png')}}">
        <div class="card-content">
            <h4>Dr. A P J Abdul kalam Technical University</h4>
            <a class="btn" href="{{url_for('aktupaper')}}">Click Me</a>
        </div>
    </div>
</div>


<!-- button ends here -->

{% endblock %}