{% extends 'base.html' %}
{% block content%}
<div align="'center">
    <div align="center" class="border">
        <div class="header">
            <h1 class="word">Login</h1>
        </div>
        </br></br></br>
        <h2 class="word">
            <form action="{{url_for('login')}}" method="post">
                <div class="msg">{{ msg }}</div>
                <input class="textbox" id="usrname" name="username" placeholder="Enter your usrname"
                       type="text"/></br></br>
                <input class="textbox" id="password" name="password" placeholder="Enter Your Password"
                       type="password"/></br></br></br>
                <input class="btn" type="submit" value="Sign In"></br></br>
            </form>
        </h2>
        <p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('register')}}">Sign Up Here</a></p>
    </div>
</div>

{% endblock %}